@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color: #fff;
}

::-webkit-slider-thumb:hover {
    width: 13px;
    height: 13px;
}

input[type="search"]::-webkit-input-placeholder {
    text-align: center;
    color: #ffffffa4;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

#topPicks{
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}